<div class="bg_login">

  <div class="valign-wrapper fullsize">

      <div class="valign z-depth-1 form_login">
          <div class="row">
              <div class="col s12" style="text-align : center">
                  <h5>Qual.eh | Login</h5>
              </div>
          </div>
          <div class="row">
              <form class="col s12" #formLogin="ngForm">
                  <div class="input-field col s12">
                      <input type="text" name="login" id="login" required
                          [(ngModel)]="usuario.login" #login="ngModel" />
                      <label for="login">Login</label>
                      <small class="red-text" 
                          *ngIf="login.invalid && login.touched">
                          Campo obrigatório
                      </small>
                  </div>
                  <div class="input-field col s12">
                      <input type="password" name="senha" id="senha" required 
                          [(ngModel)]="usuario.senha" #senha="ngModel" />
                      <label for="senha">Senha</label>
                      <small class="red-text" 
                          *ngIf="senha.invalid && senha.touched">
                          Campo obrigatório
                      </small>
                  </div>
              </form>
          </div>
          <div class="row">
              <div class="col s12" style="text-align : center">
                  <button class="btn btn-large waves-effect waves-light 
                      col s12 grey darken-3" [disabled]="formLogin.invalid"
                      (click)="entrar()">Entrar</button>
              </div>
              <div class="col s12" style="text-align : center; padding-top: 10px;">
                  <a routerLink="/registroUsuario">Não sou cadastrado!</a>
              </div>
          </div>
      </div>
  </div>

</div>