<div class="bg_novo_user">
    <div class="valign-wrapper fullsize">

        <div class="valign z-depth-1 form_cadastro">
             <div class="row">
                <div class="col s12" style="text-align : center">
                    <h5>Pergunte.me | Meu Perfil</h5>
                </div>
            </div>
            <form  class="col s12" #formRegistro="ngForm">
            <div *ngIf='usuario.login' class="row col s12" >                
                    <div class="input-field col s3">
                    
                        <div class="input-field col s5">
                            <img [src]="caminhoImagem"  *ngIf='caminhoImagem'  class="w3-circle" width="128px" height="128px" /> <br/>                                       
                            <input type="file" name="foto" id="foto" [(ngModel)]="usuario.foto" value="usuario.foto" #foto='ngModel' (change)="selecionar($event)" required >  
                            <small class="red-text" *ngIf="foto.invalid && foto.touched">Campo Obrigatorio</small> 
                        </div> 
                    </div>
              
                    <div class="row col s1"> 
                    </div>

                    <div class="input-field col s7">

                        <div class="input-field col s12">
                            <label for="login">Login</label>
                            <a  routerLink='../profile/{{usuario.login}}'> @{{usuario.login}}</a>         
                        </div>

                        <div class="input-field col s12">                     
                            <input type="email" name="email" id="email" [(ngModel)]="usuario.email" #email='ngModel' required disabled> <br/>  
                            <small class="red-text" *ngIf="email.invalid && email.touched">Campo Obrigatorio</small>           
                        </div>
                
                        <div class="input-field col s12">
                            <label for="nome"> Nome</label>    
                            <input type="text" name="nome" id="nome" [(ngModel)]="usuario.nome" #nome='ngModel' />
                            <small class="red-text" *ngIf="nome.invalid && nome.touched"> Campo obrigatório </small>
                        </div>

                        <div class="input-field col s12">
                            <label for="senha"> Senha</label>
                            <input type="password" name="senha" id="senha" [(ngModel)]="usuario.senha" #senha='ngModel'  required > <br/>  
                            <small class="red-text" *ngIf="senha.invalid && senha.touched">Campo Obrigatorio</small>           
                        </div>
                    
                        <div class="input-field col s12">
                            <label for="bio"> Escreva algo sobre você</label>
                            <textarea name="bio" id="bio" maxlength="500" class="materialize-textarea" [(ngModel)]="usuario.bio" #bio='ngModel' required ></textarea>
                            <small class="red-text" *ngIf="bio.invalid && bio.touched">Campo Obrigatorio</small>           
                        </div>        
                
                    </div>
                
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="btn btn-large waves-effect waves-light grey darken-3" 
                            style="width: 100%" [disabled]="formRegistro.invalid" 
                            (click)="salvar()">
                            Salvar
                    </button>
                </div>
                <div class="col s6">
                    <button class="btn btn-large waves-effect waves-light grey lighten-3 grey-text text-darken-1" 
                            style="width: 100%" (click)="cancelar()"> Cancelar</button>
                </div>
            </div>
            </form>
        </div>
    </div> 
</div>






           

             
