<nav>
    <div class="nav-wrapper grey darken-3">
        <div class="container">
            <a href="#" class="brand-logo hide-on-med-and-down">qual.eH</a>
            <ul class="right ">
                <li><a routerLink='restrito/inbox'>Privado</a></li>
                <li><a routerLink='restrito/meuPerfil'>Perfil</a></li>
                <li><a routerLink='restrito/minhasPerguntas'>Minhas Dúvidas</a></li>
                <li><a routerLink='restrito/fazerPerguntas'>enviar Dúvidas</a></li>
                <li><a routerLink='sair' (click)="sair()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin-top: 30px" class="container">
    <router-outlet></router-outlet>
</div>