<nav>
    <div class="nav-wrapper grey darken-3">
        <div class="container">
            <a href="#" class="brand-logo hide-on-med-and-down">pergunte.me</a>
            <ul class="right ">
                <li><a routerLink='restrito/inbox'>Inbox</a></li>
                <li><a routerLink='restrito/meuPerfil'>Meu perfil</a></li>
                <li><a routerLink='restrito/minhasPerguntas'>Minhas Perguntas</a></li>
                <li><a routerLink='restrito/fazerPerguntas'>fazer Perguntas</a></li>
                <li><a routerLink='sair' (click)="sair()">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin-top: 30px" class="container">
    <router-outlet></router-outlet>
</div>